<header>
    <a href="#" class="title"><Strong>POCO</Strong>Quizz</a>

    <div class="image">
        <a href="https://www.facebook.com/leewangnhut"><i class="bi bi-facebook"></i></a>
        <a href="https://www.facebook.com/leewangnhut"><i class="bi bi-instagram instart"></i></a>
        <a href="https://www.facebook.com/leewangnhut"><i class="bi bi-twitter"></i></a>
    </div>

</header>

<!-- main -->

<main>

    <div class="container" id="info-Poco">

        <div class="bigTitle">
            <div class="title">Chúng tôi có những gì</div>
            <div class="des">
                Trang web giúp bạn củng cố và nâng cao kiến thức nền tảng
            </div>
        </div>


        <div class="row main">

            <div class="col-12 col-md-12 col-lg-4 mb-3">
                <div class="checkin">
                    <div class="item">
                        <img src="images/img2.jpg" class="zoom">
                        <div class="content">
                            <div class="title">
                                Đội ngũ giảng viên chuyên nghiệp
                            </div>
                            <div class="des">
                                Đến với chúng tôi bạn sẽ được tiếp xúc với rất nhiều
                                giảng viên chuyên nghiệp từ nhiều nước khác nhau
                                để giảng dạy cho các bạn.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-4 mb-3">
                <div class="checkin">
                    <div class="item">
                        <img src="images/img1.jpg" class="zoom">
                        <div class="content">
                            <div class="title">
                                Đa dạng các môn học <br> và các nền tảng
                            </div>
                            <div class="des">
                                Đa dạng các môn học từ cơ bản đến nâng cao, POCOQuizz
                                đã đạt được 99+ khoá học từ cơ bản đến nâng cao về
                                nhiều lĩnh vực.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-4 mb-3">
                <div class="checkin">
                    <div class="item">
                        <img src="images/img3.jpg" class="zoom">
                        <div class="content">
                            <div class="title">
                                Kiểm soát được <br> thời gian học
                            </div>
                            <div class="des">
                                Học với POCOQuizz không ràng buộc thời gian, có thể
                                linh động thời gian học, học bất kì lúc nào, nơi nào
                                mà bạn thích.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- about -->

    <div class="container" id="status-Poco">

        <div class="bigTitle">
            <div class="title">Chất Lượng Đào Tạo</div>
            <div class="des">
                Chúng tôi luôn đặt uy tín và chất lượng trên hàng đầu
            </div>
        </div>

        <div class="row">

            <div class="col-12 col-md-12 col-lg-7">
                <div class="about">
                    <img src="images/about1.jpg" class="img-fluid" style="border-radius: 6px;">
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-5">

                <div class="info-Company mt-3">
                    <h4>
                        <i class="bi bi-bookmarks-fill"></i>
                        Về Chúng Tôi
                    </h4>
                    <p>Cảm ơn bạn rất nhiều vì đã bỏ thời gian quan tâm đến mình và các nền
                        tảng mà mình đang làm việc. Nếu trong quá trình làm việc mình có
                        sai sót gì rất mong nhận
                    </p>
                    <p>
                        <i class="bi bi-check2-all"></i>&nbsp;
                        Nếu trong quá trình làm việc mình có
                        sai sót gì rất mong nhận
                    </p>
                    <p>
                        <i class="bi bi-check2-all"></i>&nbsp;
                        Nếu trong quá trình làm việc mình có
                        sai sót gì rất mong nhận
                    </p>
                </div>

                <br><br>

                <div class="row">

                    <div class="col-12 col-md-6 col-lg-6">
                        <h4>
                            <i class="bi bi-newspaper"></i>
                            Đánh giá
                        </h4>
                        <p>
                            Nếu trong quá trình làm việc mình có
                            sai sót gì rất mong nhận
                        </p>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6">
                        <h4>
                            <i class="bi bi-life-preserver"></i>
                            Đánh giá
                        </h4>
                        <p>
                            Nếu trong quá trình làm việc mình có
                            sai sót gì rất mong nhận
                        </p>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6 pt-4">
                        <h4>
                            <i class="bi bi-newspaper"></i>
                            Đánh giá
                        </h4>
                        <p>
                            Nếu trong quá trình làm việc mình có
                            sai sót gì rất mong nhận
                        </p>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6 pt-4 mb-4">
                        <h4>
                            <i class="bi bi-life-preserver"></i>
                            Đánh giá
                        </h4>
                        <p>
                            Nếu trong quá trình làm việc mình có
                            sai sót gì rất mong nhận
                        </p>
                    </div>

                </div>

            </div>

        </div>

        <div class="propres">

            <div class="row">

                <div class="col-12 col-md-6 col-lg-6 mb-3">
                    <label class="mb-2 fw-bold" for="">HTML & CSS</label>
                    <div class="progress" style="height: 18px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-color fw-bold"
                            role="progressbar" style="width: 89%;" aria-valuenow="25" aria-valuemin="0"
                            aria-valuemax="100">89%</div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6 mb-3">
                    <label class="mb-2 fw-bold" for="">Lập Trình Javascript</label>
                    <div class="progress" style="height: 18px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-color fw-bold"
                            role="progressbar" style="width: 55%;" aria-valuenow="25" aria-valuemin="0"
                            aria-valuemax="100">55%</div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6 mb-3">
                    <label class="mb-2 fw-bold" for="">Cơ Sở Dữ Liệu</label>
                    <div class="progress" style="height: 18px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-color fw-bold"
                            role="progressbar" style="width: 67%;" aria-valuenow="25" aria-valuemin="0"
                            aria-valuemax="100">67%</div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6 mb-3">
                    <label class="mb-2 fw-bold" for="">Lập Trình Java Spring Boot</label>
                    <div class="progress" style="height: 18px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-color fw-bold"
                            role="progressbar" style="width: 15%;" aria-valuenow="25" aria-valuemin="0"
                            aria-valuemax="100">15%</div>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <!-- khoá học nổi bật -->

    <div class="container light-content" id="course">

        <div class="bigTitle">
            <div class="title-khoahoc">Khoá Học Nổi Bật</div>
            <div class="des">Những khoá học có số lượng học viên theo học
                nhiều nhất và có phản hồi tích cực nhất
            </div>
        </div>

        <div class="khoahoc-fpt mb-5 pb-4" ng-controller="authLogin">

            <div class="row">

                <div class="col-12 col-md-4 col-lg-4 pb-4" ng-repeat="sub in subjectFloat">

                    <div class="card card-logo">

                        <img src="images/logos/{{sub.Logo}}" class="img-fluid" alt="...">

                        <div class="overlay">

                            <p>
                                - Khoá học Phát triển Android nâng cao do Nhóm đào tạo nhà
                                phát triển của Google xây dựng.
                                Tài liệu khoá học gồm có:
                                <br>
                                - Tài liệu tham khảo về khái niệm
                                Bộ trang trình bày (không bắt buộc, dùng trong lớp học)
                                <br>
                                - Mã nguồn trong GitHub cho các ứng dụng bạn tạo ra trong lớp học lập trình
                            </p>

                            <a class="btn btn-outline-light fs-5" style="height: 45px;" ng-if="SesionUser"
                                href="#!quiz/{{sub.Id}}/{{sub.Name}}">
                                Tham gia khoá học
                            </a>

                            <a class="btn btn-outline-light fs-5" style="height: 45px;" ng-if="!SesionUser"
                                href="#!login">
                                Vui lòng đăng nhập
                            </a>

                        </div>

                        <div class="card-body">
                            <h5>{{sub.Name}}</h5>
                            <p class="card-text">KHOÁ HỌC {{sub.Id}} CƠ BẢN</p>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</main>